<script type="application/javascript">
</script>
<h2>Skills</h2>
<table id="skill-list">
	{{#each this}}
		<tr>
			<td>{{name}}</td>
			<td>{{difficulty}}</td>
			<td>{{base}}</td>
			<td>{{view App.SuccessRollView targetBinding=points}}</td>
		</tr>
	{{/each}}
</table>
