<h2>Stats</h2>
<p>ST {{view App.SuccessRollView targetBinding=st}}</p>
<p>DX {{view App.SuccessRollView targetBinding=dx}}</p>
<p>IQ {{view App.SuccessRollView targetBinding=iq}}</p>
<p>HT {{view App.SuccessRollView targetBinding=ht}}</p>
